
.user__container {
    padding: 10px;
    margin-right: 100px;
    min-width: 500px;
}


.user__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.user__photo {
    border: 1px solid black;
    width: 70px;
    border-radius: 50%;
    margin-right: 6rem;
}
.user__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}
.user__info_name {
    padding-bottom: 5px;
    font-weight: bold;
}

